<div class="tasks">
  <% if (locals.listDetails && Object.keys(listDetails.tasks).length !== 0) { %> <%
  Object.keys(listDetails.tasks).forEach(taskId => { %>

  <%# One task %>
  <div class="task-item-container">
    <form action="/list/<%= listId %>/toggle-task/<%= taskId %>" method="post">
      <% if (listDetails.tasks[taskId].done) { %> <%# Check the box depending on the task status %>
      <input
        type="checkbox"
        name="<%= listDetails.tasks[taskId].name %>"
        id="<%= listDetails.tasks[taskId].name %>"
        onchange="this.form.submit()"
        checked />

      <% } else { %>
      <input
        type="checkbox"
        name="<%= listDetails.tasks[taskId].name %>"
        id="<%= listDetails.tasks[taskId].name %>"
        onchange="this.form.submit()" />
      <% } %>

      <label for="task"><%= listDetails.tasks[taskId].name %></label>
    </form>

    <%# Delete button for the task %>
    <form action="/list/<%= listId %>/delete-task/<%= taskId %>" method="post">
      <input type="submit" value="Delete" />
    </form>
  </div>
  <% }); %> <% } else { %>
  <div>no tasks</div>
  <% } %>
</div>
