<%- include("partials/header.ejs") %> 

<%- include("partials/listnav.ejs") %>

<h1><%= listDetails.name %></h1>

<%- include("partials/todolist.ejs") %>

<form action="/list/<%= listId %>/add-task" method="post">
  <input type="text" name="task-name" />
  <input type="submit" value="Add task" />
</form>

<%- include("partials/footer.ejs") %>
